@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background: #a4d9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
